// Imports
//@import "compass";
@import "partials/typography";
@import "partials/colors";
@import "partials/layout";
@import "partials/subway-icons";

/* ==========================================================================
Global Styles
========================================================================== */

html {
  scroll-behavior: smooth;
}
body {
  font-family: $mono;
  font-weight: 500;
  color: black;
  -webkit-text-size-adjust: 100%;
  background-color: ivory;
}
ul, ol {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
section .header {
  padding-bottom: 30px;
}

button {
  padding: 5px 7px;
  background: transparent;
  border: 1px solid currentColor;
  border-radius: 5px;
}

a {
  @extend .underline-on-hover;
}

section {
  padding: 3vw 10px 4vw;
  margin: 0 auto;
  max-width: 1000px;

  &.full-width {
    max-width: none;
    padding: 7vw 0 4vw;
    margin: none;
  }

  h2 {
    @extend .underline-on-hover;
  }

  &:hover h2 {
    @extend .underline;
  }
}

#full-width-map {
  height: 400px;
}

dl {
  margin-left: 20%;
  display: grid;
  grid-template-columns: 30% auto;
  grid-row-gap: 30px;
  transition: 200ms ease margin;
  
  @media screen and (max-width: 868px) {
    display: block;
    margin-left: 10%;

    .double-dd {
      padding-bottom: 30px;
    }
  }

  @media screen and (max-width: 675px) {
    margin-left: 0;
  }
}

dt {
  @extend h3;
  @extend .italic;

  grid-column-start: 1;
  padding-bottom: 30px;
}

dd {
  @extend p;

  grid-column-start: 2;
  margin-inline-start: 0;
  padding-left: 40px;
  padding-bottom: 40px;
  transition: 200ms ease padding;

  @media screen and (max-width: 800px) {
    padding-left: 5vw;
  }

  @media screen and (max-width: 675px) {
    padding-left: 0;
  }
}

dt, dd {
  border-bottom: 2px solid black;

  &:last-of-type {
    border-bottom: none;
  }
}

.double-dt:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}

.double-dt:nth-child(6) {
  grid-row-start: 4;
  grid-row-end: 6;
}

.double-dd {
  border: none;
  padding-bottom: 0;
}

dt {
  @media screen and (max-width: 868px) {
    border-bottom: none;
    padding-top: 30px;
  }
}

.gm-style-cc,
.gmnoprint {
  display: none;
}

/* ==========================================================================
Header
========================================================================== */

.hero {
  margin-top: 0;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    max-width: 80vw;
    max-height: 44vh;
  }
}


/* ==========================================================================
Nav
========================================================================== */

nav ol {
  display: flex;
  justify-content: center;
  list-style: none;

  li a {
    margin: 10px;
  }
}

figure {
  margin: 1em 0;

  img {
    max-width: 100%;
  }

  figcaption {
    text-align: center;
  }
}

#wedding-info .grid-section {
  display: grid;
  grid-template-columns: auto 450px;
  grid-gap: 30px;

  figure {
    margin: 1em 0 1em 2em;
  }

  @media screen and (max-width: 725px) {
    grid-template-columns: auto;

    figure {
      margin: 1em;
      display: flex;
    }

    figcaption {
      text-align: left;
      padding-left: 1vw;
    }
  }

  @media screen and (max-width: 604px) {
    grid-template-columns: auto;

    figure {
      display: block;
    }
  }
}

#about-us {
  figure {
    float: left;
    margin: 0 20px 0 0;
  }

  p {
    max-width: 100%;
  }

  @media screen and (max-width: 515px) {
    figure {
      float: none;
      margin: 1em;
      display: flex;
    }

    figcaption {
      text-align: left;
      padding-left: 1vw;
    }
  }

  @media screen and (max-width: 440px) {
    figure {
      flex-direction: column;
    }
  }
}

#accomodations {
  ol {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    grid-gap: min(3vw, 30px);

    @media screen and (max-width: 675px) {
      grid-template-columns: auto;
    }
  }

  ol li {
    border: 2px solid currentColor;
    padding: 10px;
  }

  p {
    padding: 0;
  }

  ul {
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 43/22;
  }
}


#things-to-do {
  .grid {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 15px;

    @media screen and (max-width: 1064px) {
      padding-left: 1em;
    }

    @media screen and (max-width: 675px) {
      grid-template-columns: auto;

      #focused-map {
        width: 100vw;
        margin-left: -25px;
      }
    }
  }

  h3, li::marker {
    @extend .italic;
  }

  #focused-map {
    min-height: 500px;
    outline: none;
  }

  li {
    font-size: 14px;
    padding-bottom: 4px;
  }
}

.gm-style .gm-style-iw-c {
  color: black;
}

/* ==========================================================================
RSVP form
========================================================================== */
.rsvp {
  padding-bottom: 140px;
  .rsvp-form {
    .rsvp-btn {
      padding: 15px 0;
      border-radius: 3px;
      width: 100%;
      font-size: 13px;
    }
    .form-input-group {
      width: 100%;
      height: 55px;
      margin: 0 auto 10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      border: solid 1px $keyline-color;
      text-align: left;
      position: relative;

      i {
        color: $accent-color;
        font-size: 14px;
      }
      i:after {
        content: "";
        height: 30px;
        width: 1px;
        border-right: solid 1px $keyline-color;
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
      }
      i.fa-user, i.fa-users, i.fa-envelope, .fa-key {
        font-size: 14px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 20px;
      }
      input {
        padding-left: 68px;
        width: 100%;
        height: 100%;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: none;
      }
      input::-webkit-input-placeholder {
        color: $form-placeholder;
      }
      input:-moz-placeholder {
        color: $form-placeholder;
      }
      input::-moz-placeholder {
        color: $form-placeholder;
      }
      input:-ms-input-placeholder {
        color: $form-placeholder;
      }
    }
  }
}

/* ==========================================================================
Footer
========================================================================== */
footer {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 30%;
    min-width: 80px;
    max-width: 120px;
    margin: 20px;
  }

  button {
    @extend .underline-on-hover;
    @extend .italic;

    border: none;
    padding: 0 30px 30px 30px;
  }
}

/*========================================================================
Dark theme override
========================================================================== */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121211;
    color: ivory;
  }

  a:hover {
    text-decoration-color: ivory;
  }

  img.logo {
    -webkit-filter: invert(1);
    filter: invert(1);
  }

  dd, dt {
    border-bottom-color: ivory;
  }

  img:not(.logo) {
    filter: brightness(.8) contrast(1.2);
  }
}