$light-background: ivory;
$map-green: #006400;
$text-color: black;
$light-shadow: rgba(0,0,0,0.1);

$dark-background: #1c1c1b;
$dark-text-color: ivory;
$dark-shadow: rgba(255,255,240,0.2);

// original colors

$form-placeholder: #BCC1C3;
// form placeholder text
// Global colours
$accent-color: #e8ca6f;

// Keylines
$keyline-color: #E6E9EA;