// Typography partial
@import "partials/colors";

// Fonts

$serif: 'EB Garamond', Garamond, serif;
$mono: 'Fira Code', monospace;

// Weights

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Sizes

$font-size-h2: 40px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: 15px;
$font-size-p: 15px;
$nav-font-size: 13px;
$blog-post-title: 11px;

// Line height

$base-line-height: 29px;

// Styles

.italic {
  font-family: $serif;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.underline {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-color: currentColor;
  text-decoration-thickness: 2px;
  text-underline-offset: 1px;
  transition: 200ms ease text-decoration-color;
}

.underline-on-hover {
  @extend .underline;
  text-decoration-color: transparent;

  &:hover {
    text-decoration-color: currentColor;
  }
}

/* ==========================================================================
Typography
========================================================================== */
p {
  font-size: 14px;
  line-height: 1.6;
  color: $text-color;
  padding-bottom: 20px;
  max-width: 75ch;
}

a {
  @extend .underline-on-hover;

  color: $text-color;
  font-size: 14px;
}

dd, dt {
  font-size: 14px;
}

h1 {
  @extend .italic;
  font-size: 60px;
  font-size: clamp(16px, 9vw, 60px);
  margin: 0;
}

h2 {
  font-size: $font-size-h2;
  font-family: $serif;
}

h3,
h3 a {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  font-family: $serif;
  text-transform: lowercase;
  letter-spacing: 1px;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
  text-transform: uppercase;
  font-weight: $semibold;
}

figcaption {
  @extend .italic;

  font-size: 13px;
}

.subway-icon {
  font-family: Helvetica, sans-serif;
}

.pre {
  white-space: pre;
}